div {
  position: absolute;
}

#scene {
  width: 720px;
  height: 500px;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#bear {
  width: 150px;
  height: 150px;
  background-color: brown;
  border-radius: 50%;
}

#wave1 {
  background-image: url("../images/wave.png");
  height: 130px;
  width: 720px;
}
#wave2 {
  background-image: url("../images/wave.png");
  height: 130px;
  width: 720px;
  background-position: 20% 20%;
}
#wave3 {
  background-image: url("../images/wave.png");
  height: 130px;
  width: 720px;
  background-position: 30% 30%;
}
#wave4 {
  background-image: url("../images/wave.png");
  height: 130px;
  width: 720px;
  background-position: 40% 40%;
}
#wave5 {
  background-image: url("../images/wave.png");
  height: 130px;
  width: 720px;
  background-position: 50% 50%;
}
#wave6 {
  background-image: url("../images/wave.png");
  height: 130px;
  width: 720px;
  background-position: 60% 60%;
}
#island {
  width: 500px;
  height: 200px;
  background-color: green;
}
.id {
  width: 32%;
  height: 100%;
}
